%h1= I18n.t('company.list')

%table
  %tr
    %th= I18n.t('company.name')
    %th=I18n.t('company.value')

  - @companies.each do |company|
    %tr
      %td= company.name
      %td= company.values
%br
