%ul.nav.nav-list
  %li.nav-header
    =t('prices.main')
    =link_to  I18n.t('prices.download',:updated_at => @price.updated_at.strftime('%Y.%m.%d')) ,@price.current_price.url, :class=>"btn" unless @price.nil?

