%table{ :class => 'table table-bordered'}
  %thead
    %tr
      %th= I18n.t('common.place')
      %th= I18n.t('company.realtor')
      %th=I18n.t('company.value')
  %tbody
    .company
      = render :partial => 'company_rating'